{{>back}}
{{>logout}}
<div class="edit-container">
  <h1>修改支出</h1>

  <form action="/index/{{id}}/edit?_method=PUT" method="post">
    <label for="name">名稱
      <input type="text" name="name" id="name" value="{{expense.name}}" />
    </label>
    <label for="date">日期
      <input type="date" name="date" id="date" value="{{expense.date}}" />
    </label>
    <label for="categoryId">類別
      <select name="categoryId" id="categoryId">
        <option value="1">居家</option>
        <option value="2">交通</option>
        <option value="3">休閒</option>
        <option value="4">飲食</option>
        <option value="5">其他</option>
      </select>
    </label>
    <label for="amount">金額
      <input type="number" name="amount" id="amount" value="{{expense.amount}}">
    </label>
    <button type="submit"> 送出 </button>
  </form>
</div>

<div id="categoryIdValue" hidden>{{expense.categoryId}}</div>

<script> 
  const categoryIdValue =document.querySelector('#categoryIdValue').innerText
  const categoryId = document.querySelector('#categoryId')
  const options = categoryId.options;

  for (let i = 0; i < options.length; i++) {
    if (options[i].value === categoryIdValue) {
      options[i].selected = true;
      break;
    }
  }
</script>